@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-optical-sizing: auto;
}
:root {
  --primary-color: #a7e6ff;
  --secondary-color: #3abef9;
  --text-dark: #050c9c;
  --text-light: #3572ef;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: var(--primary-color);
}
nav h2 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: var(--secondary-color);
}
nav h2 span {
  color: var(--text-dark);
}
nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  margin: auto 0;
}
nav ul li a {
  text-decoration: none;
  color: var(--text-dark);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
}
nav ul li .active {
  font-weight: 600;
}
/* Header */
header {
  background-image: linear-gradient(rgba(5, 12, 156, 0.33), rgba(5, 12, 156, 0.33)), url(../assets/header3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 10rem; */
  text-align: center;
}
header h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 65px;
  /* line-height: 120px; */
  color: var(--secondary-color);
}
header h1 span {
  color: var(--primary-color);
}
/* Main */
main {
  margin-top: 8rem;
  gap: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.layanan {
  display: flex;
  align-items: center;
  justify-content: center;
}
.layanan .container-service {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.layanan .container-service .container-layanan {
  background-color: var(--primary-color);
  padding: 40px;
  width: 50%;
  height: 330px;
  border-radius: 7px;
}
.layanan .container-service .container-layanan.dua {
  width: 480px;
  height: 50%;
}
.layanan img {
  width: 420px;
  object-fit: cover;
  height: 500px;
  margin: auto 0;
}
.layanan ul {
  list-style: circle;
  gap: 1rem;
  padding-left: 45px;
}
.layanan .container-layanan h2 {
  color: var(--text-dark);
  font-family: "Bebas Neue", sans-serif;
  font-weight: 500;
  font-size: 40px;
  margin: 8px 0;
}
.layanan .container-layanan h2 span {
  color: var(--text-light);
}
.layanan .container-layanan ul li {
  color: var(--text-dark);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
}
.layanan .container-service .container-layanan .logo-layanan {
  position: absolute;
  z-index: 2;
  margin-left: 315px;
  margin-top: -60px;
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 50%;
}
.layanan .container-service .container-layanan .logo-layanan img {
  width: 50px;
  height: 50px;
}
.service-ba {
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-ba img {
  width: 30rem;
}
footer {
  background-color: var(--primary-color);
  padding: 30px 50px 70px 50px;
  margin: 0 auto;
}
.container-footer {
  display: flex;
  justify-content: space-between;
  /* gap: 20%; */
  padding: 40px 60px;
  border-bottom: 1px solid var(--text-dark);
}
.container-footer .card-footer .sosmed {
  display: flex;
  gap: 20px;
  list-style: none;
}
.container-footer .card-footer h1 {
  margin-bottom: 10px;
  color: var(--text-light);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.container-footer .card-footer h1 span {
  color: var(--text-dark);
}
.container-footer .card-footer .sosmed i {
  font-size: 25px;
  padding: 7px;
  border-radius: 50%;
  background-color: var(--text-dark);
}
.container-footer .card-footer ul {
  list-style: none;
}
.container-footer .card-footer h2 {
  color: var(--text-dark);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 10px;
}
.container-footer .card-footer ul li {
  color: var(--text-dark);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.container-footer .card-footer ul li a{
  text-decoration: none;
  color: var(--text-dark);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.container-footer .card-footer ul li .active{
  font-weight: 600;
}